=form_for :@user, html:{:class => 'form-horizontal'} do |f|
  %fieldset
    %div(class="form-group" style="height:40px" )
      %label(class="col-sm-2 control-label" style="font-weight:normal"  )
        帐号
      %div(class="col-sm-10")
        =f.text_field :name,:class=>"form-control",:placeholder=>"请输入帐号"
    - if @modify_login_error == 'empty_name'
      %div(style="color:red;background:pink;text-align:center;height:30px;padding-top:6px" )
        = "账户名不能为空!"
    - if @modify_login_error == 'nonexistence_user'
      %div(style="color:red;background:pink;text-align:center;height:30px;padding-top:6px" )
        = '账户不存在！'
    %button(type="submit" class="btn btn-primary btn-lg btn-block action" style="width:50%;margin-left:25%;margin-top:10px" )
      下一步