= render 'modify_header'
%div(class="hero-unit" style="margin-top:150px;width:500px;margin-left:auto;margin-right:auto" )
  %div(style="margin-bottom:3%;font-weight:bold" )
    %div(style="float:left" )
      重置密码
  %div(style="color:blue;text-align:right;margin-bottom:1%" )
    = link_to '用户登录',:controller => 'user',:action=> "login_page" ,:style => 'color:blue'
  = render 'user_modify_password'