%header(style="margin-left:20px;margin-top:20px" )
  %h1(style="width:1150px" )
    活动通
  %div(style="line-height:38px;width:100px;margin-left:1200px;")
    ='你好,' + @current_user+'!'
    = link_to '退出','logout', :style => 'color:blue'
%div.bar-head
  %div(style="margin-left:10px;float:left;margin-top:12px;font-size:18px")
    %span(style="font-color:red" )
      =link_to '首页',user_index_path(:id =>User.find(session[:current_user_id]).name),:style => 'color:blue'
    %span
      #{"/修改用户密码"}
%div(class="hero-unit" style="width:500px;margin-left:auto;margin-right:auto;margin-top:60px" )
  = render 'modify_password_form'