%header(style="font-size:20pt;height:60px;line-height:60px;" )
  竞价
  %div(class="header-left")
    %a(class="btn btn-primary"  ng-tap="turn_to_activity_enroll_page()")
      返回
  %div(class="header-right")
    %a(class="btn btn-primary" ng-tap="go_to_bid_sign_up_page()" ng-disabled="bid_begin_checked")
      开始
%div(id="wrapper" class="scrollable")
  %ul( class="survey-list")
    %li(class="{{BidName.status}}"  ng-tap="bid_name_info('{{BidName.name}}')"  ng-repeat="BidName in BidNames | orderBy:'bid_order':!reverse")
      %a( style="height:50px;line-height:50px;font-size:16pt;" )
        {{BidName.name}}
%footer
  %ul(class="footer-nav footer-nav-2tabs"  )
    %li
      %a(style="height:60px;line-height:50px;font-size:14pt" ng-tap=" " )
        报名
    %li
      %a.active(style="height:60px;line-height:50px;font-size:14pt" ng-tap=" ")
        竞价