%h1(style="font-size:30px;text-align:center;width:200px")
  活动通
%div(class="hero-unit" style="width:500px;margin-left:auto;margin-right:auto" )
  %div(style="margin-bottom:3%;font-weight:bold" )
    %div(style="float:left" )
      重置密码
  %div(style="color:blue;text-align:right;margin-bottom:1%" )
    = link_to '用户登录', "login_page"
  =form_for :@user, html:{:class => 'form-horizontal'} do |f|
    %fieldset
      %div(class="form-group" style="height:40px" )
        %label(class="col-sm-2 control-label" style="font-weight:normal;width:140px"  )
          忘记密码问题
        %div(class="col-sm-10" style="width:300px" )
          %input(class="form-control" id="disabledInput" type="text" placeholder="#{@question}" disabled= true)
      %div(class="form-group" style="height:40px" )
        %label(class="col-sm-2 control-label" style="font-weight:normal;width:140px"  )
          忘记密码答案
        %div(class="col-sm-10" style="width:300px" )
          =f.text_field :password_question_answer,:class=>"form-control" ,:placeholder=>"请输入忘记密码答案"
      - if flash[:notice5]
        %div(style="color:red;background:pink;text-align:center;height:30px;padding-top:6px" )
          =flash[:notice5]
      %button(type="submit" class="btn btn-primary btn-lg btn-block action" style="width:50%;margin-left:25%;margin-top:10px" )
        下一步

