%h1(style="float:left;font-size:30px;padding-left:10px;width:1250px")
  活动通
%span(style="font-size:15px;padding-right:20px;margin-right:2%;margin-top:20px;width:200px;text-align:center")
  - if flash[:notice2]
    =flash[:notice2]
  = link_to '退出','login_page' ,:style => 'color:blue'
%div(style="margin-left:10%;margin-top:50px;width:80%;background-color:#cccccc;height:40px" )
  %div(style="margin-left:10px;float:left;margin-top:12px;font-size:18px")
    用户管理
  =link_to '添加用户',user_show_enroll_form_path,:class => 'add-button'
%div(style="margin-left:10%;width:80%;")
  %table(class="table table-hover")
    %thead
      %tr
        %th(style="text-align:center")
          编号
        %th(style="text-align:center")
          用户名
        %th(style="text-align:center")
          操作
    %tbody(style="text-align:center")
      - i = 1
      - @user.each do |u|
        %tr
          %td
            = i
            -i = i+1
          %td
            = u.name
          %td(style="font-color:red" )
            %span(style="font-color:red" )
              =link_to '删除',u,:method=>:delete,data:{confirm:'Are you sure?'}
            %span(style="font-color:red")
              =link_to '修改密码', modify_password_path(:user =>u)

