%header(style="margin-left:20px;margin-top:20px" )
  %h1(style="width:1250px" )
    活动通
  %span(style="line-height:38px;")
    - if flash[:notice2]
      =flash[:notice2]
    = link_to '退出','logout', :style => 'color:blue'
-if User.find(session[:current_user_id]).name != 'admin'
  %div(style="margin-left:10%;margin-top:50px;width:80%;background-color:#cccccc;height:40px" )
    %div(style="margin-left:10px;float:left;margin-top:12px;font-size:18px")
-if User.find(session[:current_user_id]).name == 'admin'
  %div(style="padding-top:3px;margin-left:10%;margin-top:50px;width:80%;background-color:#cccccc;height:40px" )
    %div(style="width:80px;margin-left:10px;float:left;margin-top:10px;font-size:18px")
      用户管理
    %div(style='')
      =link_to "添加用户", 'admin_add_new_user', :class => "btn btn-default"
-if User.find(session[:current_user_id]).name == 'admin'
  %div(style="margin-left:10%;width:80%;")
    %table(class="table table-hover" style="margin-top:0px" )
      %thead
        %tr
          %th(style="text-align:center")
            编号
          %th(style="text-align:center")
            用户名
          %th(style="text-align:center")
            操作
      %tbody(style="text-align:center")
        - i = 1
        - @user.each do |u|
          %tr
            %td
              = i
              -i = i+1
            %td
              = u.name
            %td(style="font-color:red" )
              %span(style="font-color:red" )
                =link_to '删除',u, :method=>:delete,data:{confirm:'Are you sure?'}
              %span(style="font-color:red")
                =link_to '修改密码', admin_url(id:u.id)
%div(style="margin-right:50px;font-size:20px;float:right")
  =will_paginate @user
