%meta(http-equiv="refresh" content="3")
%div(style="margin-left:0%;background-color:#cccccc;text-align:center;padding-top:20px;padding-bottom:20px;" )
  %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:40px;margin-bottom:8px" )=@activity_number
  -if @bid.status=='biding'
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:30px" )='参与人数:'+@bid_number
  -if @bid_success == true
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:30px" )='比赛结果'
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:15px" )='获胜者:' +@bid_suc_person
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:15px" )='出价:' + @bid_suc_price
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:15px" )='电话:' +@bid_suc_phone
  -if @bid_success == false
    %div(style="margin-left:30%;width:40%;padding-top:8px;font-size:30px" )='竞价失败!'
-if @bid[:status] == 'biding'
  %table(class="table table-hover" style="margin-top:0px;" )
    %thead
      %tr
        %th(style="text-align:center")
          姓名
        %th(style="text-align:center")
          电话
    %tbody(style="text-align:center")
      - @bid_ups.each do |bid_up|
        %tr
          %td
            = bid_up.name
          %td
            = bid_up.phone
